Welcome to the game <%= @name %>


<div class="row">
	<a href = '/selection'><button class = 'btn btn-primary'>Single</button></a>
</div>

<div class="row">
	<a href = '/selection_multi'><button class = 'btn btn-primary'>Multi Player</button></a>
</div>