<h2>Welcome to the game <%= @player.name %></h2>

<div class="row">
	<a href = '/selection'>
      <img src="/images/single.png" alt="Single">
	</a>
</div>

<div class="row">
	<a href = '/selection_multi'>
		<img src="/images/multi.png" alt="Multi">
	</a>
</div>


