<!DOCTYPE>
<html>
	<head>
		<meta charset='UTF-8' />
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
		<title>RockPaperScissors</title>
	</head>
  <body>
    <div class="container" style="padding: 20px;">
      <%= yield %>
    </div>
  </body>
</html>