<!DOCTYPE>
<html>
	<head>
		<meta charset='UTF-8' />
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="/stylesheets/styling.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<title>RockPaperScissors</title>
	</head>
  <body>
    <div class="container" style="padding: 20px;">
      <%= yield %>
    </div>
  </body>
</html>