<h2>You chose ROCK</h2>

<div class="row">
<% if @result == 'Win' %>
	<img src="/images/rock.png" alt="Rock">
	VS
	<img src="/images/scissors.png" alt="Scissors">
	<h2>You win!</h2>
<% elsif @result == 'Lose' %>
	<img src="/images/rock.png" alt="Rock">
	VS
	<img src="/images/paper.png" alt="Paper">
	<h2>You lose</h2>
<% else %>
	<img src="/images/rock.png" alt="Rock">
	VS
	<img src="/images/rock.png" alt="Rock">
	<h2>You draw</h2>
<% end %>
</div>
<div class="row">
	<a href = '/selection'><button class = 'btn btn-primary'>Retry</button></a>
</div>

