<h2>Make your choice <%= @player.name %></h2>

<div class="row">
    <a href="/result_rock">
      <img src="/images/rock.png" alt="Rock">
    </a>
    <a href="/result_paper">
      <img src="/images/paper.png" alt="Paper">
    </a>
    <a href="/result_scissors">
      <img src="/images/scissors.png" alt="Scissors">
    </a>
 </div>



