body {

	background-color: #191919;
}

.container {

	background-color: #191919;
	font-family: 'Montserrat', sans-serif;

}

.jumbotron {

	background-color: #DFE2DB;
}

h1 {

	color: #191919;

}


h2 {
	text-align: center;
	color: #FFF056;
}

label {

	font-size: 20px;
	color: #191919;
}

.btn {

	background-color: #FFF056;
	border: none;
	color: #191919;
} 

.row {

	text-align: center;
	background-color: #191919;
}
